.media__img {
    height: 200px;
    width: 400px; 
    max-width: 450px; 
    max-height: 450px;
    object-fit: cover;
    vertical-align: middle;
}

.location_posts_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 3em;
    padding-left: 10em;
    padding-right: 20em;
    display: flex;
    align-content: center;
    width: 77%;
    height: 50%;
    overflow: scroll;
    
}
.location_card, .card__grow {
    display: flex;
    padding-bottom: 3.5em;
    padding-top: 2em;
    padding-left: 4em;
    width: 457px;
    height:350px;
    
}

/* .card__grow { 
    display: block;
    width: 420px;
    height:380px;
    transition: all .09s ease-in-out; 
    border-top:1px solid white;
    border-bottom: 1px solid white;

    } */

.card__grow:hover { 
    display: block;
    width: 457px;
    transform: scale(1.015); 
    border-top:4px solid white;
    border-bottom: 4px solid white;
    }

.img__box {
    align-content: center;
    margin-left: -2em;
    width: 400px;
    height: 380px;
    background-color: white;
}

.img__container {
    width: 75%;
}
.search__section {
    display: flex;
    justify-content: space-between;
    margin-top: -3em;
    margin-left: -9.8em;
    width: 38em;
    height: 30px;
    border-radius: .5em;
}
.search {
    background-color: silver !important;
    padding-right: 10px;
    width: 50%;
    border-radius: .2em;
    font-weight: 500;
}

.search__bar {
    display: flex;
    flex-wrap: wrap;
    height: 41px;
    border-radius: .2em;
    justify-content: space-between;
}

.filter {
    display: flex;
    /* justify-content: left; */
    width: 260px;
}

.hamburger {
    margin-top: -.3em;
    font-size: 38pt;
    height: 40px;
}

.location_types_filter {
    height: 20px;
    width: 200px;
}
