.media__img {
    height: 280px;
    width: 600px;
    object-fit:cover;

}

.location_posts_list {
    display: flex;
    flex-direction: column;
    padding-top: 3em;
    padding-left: 35%;
    padding-right: 20em;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 45%;
    height: auto;
}

/* .location_card {

} */

.img__box {
    align-content: center;
    margin-left: -2em;
    width: 400px;
    height: 300px;
    background-color: white;
}



.search__section {
    display: flex;
    justify-content: space-between;
    width: 45em;
    height: 30px;
    background-color: whitesmoke;
    border: 1px solid grey;
    border-radius: .5em;
}

.search {
    background-color: silver !important;
    padding-right: 10px;
    width: 50%;
    border-radius: .2em;
    font-weight: 500;
}